@media(min-width: 4800px) and (min-height: 3200px){
  #gigantic-screen-notice{
    visibility:visible;
  }
}
@media(max-width: 410px){
  #bad-graph-warn{
    visibility: visible;
  }
}
@media(max-height: 400px){
  #bad-graph-warn{
    visibility: visible;
  }
}
body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: white;
  font-family:optima;
  background-color: #223a50;
}

div{
	margin: auto;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
}

#game-container {
  position: relative;
  max-width: 3200px;
  width: 80vw;
  min-width: 640px;
  max-height: 1800px;
  height: 45vw;
  min-height: 360px;
  background-color: rgba(255,255,255,.1);
  background-image: url("https://static.photocrowd.com/photos/891327-8fe923212a1832798236e330435751a284873878-h540.jpeg");
  /*random test image*/
}
#speech-container{
  position: absolute;
  bottom: 0.6vw; left: 0.6vw; right: 0.6vw;
  max-width: 3136px;
  max-height: 15vw;
  min-height: 120px;
  background-color: rgba(23,39,54,.7);
}

.speech{
  position: absolute;
  top: 5%; left: 1%; right: 1%; bottom: 5%;
  margin: 0px;
  max-width: 2880px;
  overflow-y: auto;
}

#background-image{
  position
}
.resource-image{
  position
}
.sprite-image{
  position
}
